<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
    <Logging>
        <Backend type="Log4Net">
            <!-- template placeholders are {Message}, {SourceContext}, … -->
            <MessageTemplate>{Message}</MessageTemplate>
        </Backend>
    </Logging>
</Project>